/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: bold;
  color: #4a86e8;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

button {
  display: inline-block;
  padding: 10px 12px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
  margin: 5px 0px;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.is-invisible {
  opacity: 0;
}

.subscription-details {
  transition: opacity 1s;
}